CONFIG_RISCV=y
CONFIG_DEFAULT_DEVICE_TREE="sun20i-d1-nezha"
CONFIG_TARGET_SUNXI=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
# CONFIG_SPL_SMP is not set
CONFIG_DISTRO_DEFAULTS=y
CONFIG_OF_PRIOR_STAGE=y
CONFIG_PHY_REALTEK=y
CONFIG_SUN8I_EMAC=y
